# Ignore virtual environments
venv/
segmenv/
ENV/
env/
*.env
segmenvenv

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Ignore database and static files
*.sqlite3
/staticfiles/
/media/

# VS Code settings
.vscode/
.DS_Store
